:root {
    --col-0: #5499c7;
    --col-1: #a3e4d7;
    --col-2: #fafafa;
    --col-3: #212f3c;
}

body {

    background-image: url("static/assets/img/home_banner.png");
}

.container {
    background-color: var(--col-2);
    color: var(--col-3);
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 12px;
}

.small_map { height: 320px; width: 320px; }