{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static './node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block title %}{% endblock %}
</head>
<body>
    <script href="{% static './node_modules/jquery/dist/jquery.min.css' %}"></script>
    {% include 'web/navbar.html' %}

    <div class="container my-4" style="max-width: 1000px; float: 0 auto; background-color: aqua;">
        {% block content %}{% endblock %}
    </div>
</body>
</html>