{% extends 'web/base.html' %}

{% block content %}
<div id="map" class="big_map"></div>

<script>
      var map = L.map('map').setView([45.211480, 5.770226], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                dragging: false,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            

            for(let i= 0; i < {{farms|length}}; i++){
                var marker = L.marker([45.1 + Math.random() / 10, 5.7 + Math.random() / 10]).addTo(map);
            }
</script>
{% endblock %}