{% extends 'web/base.html' %}

{% block content %}


    {% if farms|length > 0 %}
        {% for farm in farms %}
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="card-title">{{farm.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{farm.city}} {{farm.street}} {{farm.number}}</h6>
          </div>
            <div class="row g-0">
              <div class="col-md">
                <div id="{{farm.id}}" class="small_map"></div>
              </div>
              <div class="col-md-8">
               

                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th scope="col" colspan="2">Produit</th>
                          <th scope="col">Prix</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for product in farm.products.all %}
                        <tr>
                          <td>
                            {{product.name}}
                          </td>
                            <td>
                              <img src="{{product.image}}" class="ico-produit" style="display: inline;">
                            </td>
                            <td>
                              <h6>{{product.price}}€ / kg</h6>
                            </td> 
                        </tr>
                                           
                        {% endfor %}
                      </tbody>
                 
                    </table>
                   

              </div>
             
            </div>
          </div>

          <script>
            var map = L.map('{{farm.id}}').setView([45.211480, 5.770226], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                dragging: false,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            var marker = L.marker([45.211480, 5.770226]).addTo(map);
          
          </script>
        {% endfor %}
    {% else %}
    <h5>Pas de fermes dans la base de données</h5>
    {% endif %}
{% endblock %}