{% extends 'web/base.html' %}

{% block content %}
<h2 class="text-center">Field To Fork</h2>
<hr>
<section class="histoire">
    <h3>Notre Histoire</h3>
    <div class="home-text-img">
        <p class="text-justify">
            Soucieux de l'impact environnemental de la grande distribution, Field To Fork est une société créée en 2022
            par
            4 personnes motivées par une nouveauté : La suppression de l'intermédiaire des grandes surfaces. Ils se
            lancent
            alors dans le développement d'une plateforme permettant à tout le monde d'atteindre cet objectif.
        </p>
        <img src=""></img>
    </div>
</section>
<section class="activite">
    <h3>Notre Activité</h3>
    <div class="home-text-img">
        <p class="text-justify">
            Field To Fork met en relation les producteurs agricoles et les particuliers, supprimant ainsi
            l'intermédiaire
            des grandes surfaces, évitant ainsi les transports en camions/avions/bâteaux et réduisant l'impact carbone
            du
            particulier sur l'achat de ses produits. À la place, nous permettons aux particuliers de trouver des
            producteurs
            selon leurs produits, ou encore, inversement, de trouver les produits que vendent des agriculteurs. Ainsi,
            le
            producteur peut vendre ses produits à un prix raisonnable (plus cher le prix auquel les grandes surfaces
            achètent ses produits) et le particulier, peut lui acheter pour moins cher que ce qu'il trouverait en grande
            surface. De plus, l'achat étant direct, le particulier peut être sûr de ce qu'il achète, des produits frais
            et
            de saison. En résumé, Field To Fork est une solution permettant aux particuliers de consommer mieux et moins
            cher de manière écologique et locale.
        </p>
        <img src=""></img>
    </div>
</section>
{% endblock %}