{% extends 'web/base.html' %}

{% block content %}
    {% if products|length > 0 %}
        {% for product in products %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">
                    {{product.price}} € / kilo 
                </p>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h5>Pas de produit dans la base de données</h5>
    {% endif %}
{% endblock %}