{% extends 'web/base.html' %}

{% block content %}
    {% if products|length > 0 %}
        {% for product in products %}
        <div class="card">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="{{product.image}}" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">
                    <h6>{{product.price}}€ le kilo</h6>
                </p>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h5>Pas de produit dans la base de données</h5>
    {% endif %}
{% endblock %}